html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  #red-text { color: rgb(230, 17, 17); }

  * {
    margin: 0;
    padding: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background: linear-gradient(to right, #5b37ff, #ff9a3b); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .main {
    max-width: 85rem;
    margin: 10rem 25rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  
  .titulo {
    font-size: 3rem;
    padding: 1.5rem;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    font-weight: normal;
  }
  
  .titulo span {
    font-weight: bold; 
  }
  
  .box {
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 0.5rem;
    height: auto;
  }
  
  label {
    color: white;
    background-color: #058075;
    display: block;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container:last-child {
    margin-right: 0;
  }
  
  .btn {
    transition-duration: 0.4s;
    border: 0;
    color: white;
    font-weight: bold;
    background-color:#070977f8;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0db34d; /* Green */
    color: white;
  }
  
  .text-input {
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-family: sans-serif;
  }
  
  .error {
    background-color: #b7322c;    
    padding: 1rem;    
    font-size: 1.3rem;    
    margin: 1rem auto 0;
    color: white;   
    text-align: center; 
    text-transform: uppercase;
    font-weight: bold;    
    border-radius: 0.5rem;
  }
  .footer span {  
    font-weight: bold;
  }